#--------OAuth2.0 Client Configuration---------
#scope=
#grant_type=password
#username=911020350941
#password=zxc@123
#client_id=ada0b759f52b4647b423c3a05d4236e8
#client_secret=AMaKImPFIiARGwF2bw66YV/DsNXe7tfA9kQwuOUC3h4=
#access_token=
#refresh_token=
#authentication_server_url=http://5.104.236.197:777/oauth/token
#resource_server_url=http://5.104.236.197:22999/services/
#------------------------------------------------






















